{% extends 'land.html' %} 

{% block head %} 
    <title>Result</title>
{% endblock %}
    
{% block body %}
  <div style="text-align: center;">
    <div style='text-align:center;background: white;'>
      <strong><h1 style="font-family: 'Staatliches', cursive;font-size: 60px;padding-top: 20px;" class="text-center">BANK NOTE UNAUTHORISED</h1></strong>
      <hr>
    </div>
    <div>
      <a style="margin-top: 20px;font-family: 'Staatliches', cursive;" class="btn btn-dark btn-lg"href="/Authentication">AUTHENTICATE AGAIN</i></a>
    </div>
  </div>
{% endblock %}
